﻿@model InsurancePremiumCalculator.Models.Calculator

@{
    ViewData["Title"] = "Calculator";
}

<h4>Calculator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" name="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" onblur="$(Age).val(_calculateAge($(DateOfBirth).val()));" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Occupation" class="control-label"></label>
                <select asp-for="Occupation" asp-items="@ViewBag.Options" class="form-control"
                        onchange="if(_valid()) this.form.submit();">
                    <option value="">Please select an occupation</option>
                </select>
                <span asp-validation-for="Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SumInsured" class="control-label"></label>
                <input asp-for="SumInsured" class="form-control" />
                <span asp-validation-for="SumInsured" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Premium" class="control-label"></label>
                <input asp-for="Premium" class="form-control" readonly="readonly" />
                <span asp-validation-for="Premium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate Premium" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function _calculateAge(birthday) { // birthday is a date as string
            var birthdayDate = new Date(birthday);
            var ageDifMs = Date.now() - birthdayDate.getTime();
            var ageDate = new Date(ageDifMs); // miliseconds from epoch
            return Math.abs(ageDate.getUTCFullYear() - 1970);
        }

        function _valid() {
            var isValid = false;
            isValid = $(SumInsured).val() > 0;
            isValid = ($(Name).val().length > 0) ? isValid : false;
            isValid = ($(DateOfBirth).val().length > 0) ? isValid : false;
            isValid = ($(Age).val().length > 0) ? isValid : false;
            return isValid;
        }
    </script>
}
