﻿@model InsurancePremiumCalculator.Models.Calculator

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4></h4>
    <p>Use this calculator to work out your annual premium for a specified insurance sum</p>
    <p>You will need to provide your name, age or birth date, occupation and insurance sum to be paid.</p>
</div>
<div>
    <a asp-action="Edit" asp-controller="Calculator">Go to calculator</a>
</div>