﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h4>Why we collect information and how we use it.</h4>
<p>At TAL we understand that the privacy of your information is important to you and we respect the confidentiality of the information that you provide to us.</p>
<p>TAL is bound by current Australian Privacy Legislation including the Privacy Act 1988 (Cth) and the 13 Australian Privacy Principles.</p>
<p>Our information handling practices are explained in the TAL Privacy Policy which explains who we are and why we need to collect information when providing our products and services. It also describes how we store information, how you can obtain access to information we hold about you and how you can update or correct information if required. In providing our products and services we share information with others and the TAL Privacy Policy provides details about this disclosure. Finally, you may have some questions relating to privacy or need to know how to make a privacy related complaint and the TAL Privacy Policy provides the details you need to contact us for these type of enquiries. </p>
<p>
    At TAL we understand that our customers are interested in knowing about their privacy rights and how to keep their information secure.<br>
    <br>
    Our Privacy Statement briefly sets out an outline of how we handle personal information and is available using this link: <a href="/-/media/tal/files/privacy-policy/tal-privacy-policy-summary.pdf?la=en&amp;hash=54CDC89A31614C4940B6DDE9537A0BF310D30D87">download TAL's Privacy Statement here</a>.<br>
    <br>
    Our Privacy Policy sets out the details of how we collect, use, disclose and secure personal information and is available by using this link: <a href="/-/media/tal/files/privacy-policy/tal-privacy-policy-full.pdf?la=en&amp;hash=7B587C2D41F9636827D5DB4C00C70BF7BEAC01F2">download TAL's Privacy Policy here</a>.<br>
    <br>
    Both of these documents are also available free of charge on request. <br>
    <br>
    If you have any privacy related questions or would like further information on TAL’s privacy and information handling practices, please contact the TAL Privacy Officer.
</p>
<p>
    TAL Privacy Officer<br>
    PO Box 5380<br>
    Sydney NSW 2001<br>
    (02) 9448 9000
</p>